.commonInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: auto auto auto;

  a {
    font-size: 16px;
    text-decoration: underline;
    margin-right: 5px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: #8a8080;
      transition: 0.2s;

    }

    &:not(&:last-child) {
      &:after {
        content: ',';
      }
    }

  }

  .metacriticScore {
    font-size: 18px;
    border: solid 2px #3db643;
    padding: 4px;
    color: #3db643;
    border-radius: 5px;
  }

  .releaseDate {
    font-size: 16px;
  }

  .esrbRating {
    font-size: 16px;
  }


  .fullWidthElement {
    grid-column: 1/3;

  }
}