@use 'src/base';

@mixin navBarIcon {
  border-radius: 7px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: 50% 50%;
}

@mixin navBarButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #cdc1c1;
  }
}

.gamePageContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .loader {
    display: flex;
    justify-content: space-around;
  }

  .filterBlock {
    margin: 10px 0 20px 0;
    display: flex;

    .sortButton {
      background: base.$cardBGColor;
      padding: 13px;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .gameNavBar {

    .genresBlock {

      .blockName {
        font-size: 22px;
        padding-bottom: 20px;
        margin: 0;
      }

      .genresItem {
        @include navBarButton;

        img {
          @include navBarIcon
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  .gameItem {
    height: 180px;
    width: 100%;
    display: flex;
    margin: 10px 0;
    background: base.$cardBGColor;
    border-radius: 20px;

    img {
      height: 180px;
      width: 320px;
      cursor: pointer;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
    .descBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;

      .gameName {
        font-weight: bold;
        font-size: 25px;
      }

      .gameGenre {
        display: flex;

        a {
          margin-right: 10px;
          font-size: 18px;

          &:hover {
            color: #d9d1d1;
          }
        }
      }

      .gamePlatforms{
        display: flex;

        a {
          margin-right: 10px;
          font-size: 16px;
          color: #9b9696;
          text-decoration: underline;

          &:hover {
            color: base.$text-color;
          }
        }
      }
      .gameRelease {
        margin: 0;
        font-size: 16px;
        color: #d9d1d1;
      }
      .gameRating {
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
