@use 'src/base';

@mixin navBarIcon {
  border-radius: 7px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: 50% 50%;
}

@mixin navBarButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #cdc1c1;
  }
}

@mixin paginationItem {
  padding: 12px 16px;
  border-radius: 5px;
  transition: .3s;
  font-size: 18px;
}

.gamePageContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .sideBar {
    .genresBlock {

      .blockName {
        font-size: 22px;
        padding-bottom: 20px;
        margin: 0;
      }

      .genresItem {
        @include navBarButton;

        img {
          @include navBarIcon
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;

    .disabled {
      @include paginationItem;
      background: #6a6a6a;
    }

    .paginationItem {
      @include paginationItem;
      background: base.$cardBGColor;
      cursor: pointer;

      &:hover {
        background: #575757;
        transition: .3s;
      }

    }
    .paginationItem[aria-selected=true] {
      background: #eaeaea;
      color: #0b0800;
      cursor: auto;
    }
  }
}

.loader {
  display: flex;
  justify-content: space-around;
}

.filterBlock {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 30px;

  .orderingSection {
    display: flex;

    .sortButton {
      background: base.$cardBGColor;
      padding: 13px;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.gameItem {
  height: 180px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  background: base.$cardBGColor;
  border-radius: 20px;

  img {
    height: 180px;
    width: 320px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .descBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    .gameName {
      font-weight: bold;
      font-size: 25px;
    }

    .gameGenre {
      display: flex;

      a {
        margin-right: 10px;
        font-size: 18px;

        &:hover {
          color: #d9d1d1;
        }
      }
    }

    .gamePlatforms {
      display: flex;

      a {
        margin-right: 10px;
        font-size: 16px;
        color: #9b9696;
        text-decoration: underline;

        &:hover {
          color: base.$text-color;
        }
      }
    }

    .gameRelease {
      margin: 0;
      font-size: 16px;
      color: #d9d1d1;
    }

    .gameRating {
      margin: 0;
      font-size: 16px;
    }
  }
}

