@use 'src/base';

@mixin navBarIcon {
  border-radius: 7px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: 50% 50%;
}

@mixin filterButtonBase {
  background: base.$cardBGColor;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

@mixin navBarButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #cdc1c1;
  }
}

@mixin paginationItem {
  padding: 12px 16px;
  border-radius: 5px;
  transition: .3s;
  font-size: 18px;
}

@mixin tag {
  text-decoration: underline;
  color: #0e0d0d;
  background: white;
  padding: 2px 7px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.gamePageContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .genreDescLoader {
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #050505;
    animation: l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
  }

  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }
    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }
    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
  }
  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg)
    }
    49.99% {
      transform: scaleY(1) rotate(135deg)
    }
    50% {
      transform: scaleY(-1) rotate(0deg)
    }
    100% {
      transform: scaleY(-1) rotate(-135deg)
    }
  }


  .description {
    font-size: 17px;
    margin-bottom: 20px;

    .showMoreButton {
      border-radius: 4px;
      background: white;
      color: #0b0800;
      padding: 0 3px;
      cursor: pointer;
      transition: .3s;
      margin-left: 5px;

      &:hover {
        opacity: 0.8;
        transition: .3s;
      }
    }
  }


  .sideBar {
    .genresBlock {

      .blockName {
        font-size: 22px;
        padding-bottom: 20px;
        margin: 0;
      }

      .activeGenre {
        @include navBarButton;
        background: #d6d4d4;
        color: #0b0800;
        cursor: pointer;

        &:hover {
          color: #0b0800;
          text-decoration: none;
        }

        img {
          @include navBarIcon
        }

        span {
          font-size: 16px;
        }
      }

      .genresItem {
        @include navBarButton;

        img {
          @include navBarIcon
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

    .disabled {
      @include paginationItem;
      background: #6a6a6a;
    }

    .paginationItem {
      @include paginationItem;
      background: base.$cardBGColor;
      cursor: pointer;

      &:hover {
        background: #575757;
        transition: .3s;
      }

    }

    .paginationItem[aria-selected=true] {
      background: #eaeaea;
      color: #0b0800;
      cursor: auto;
    }
  }
}

.searchLoader {
  display: flex;
  justify-content: space-around;
}

.tagsBlock {
  @include filterButtonBase;
  margin-bottom: 20px;
  font-size: 17px;
  position: relative;
  padding: 0;

  &:hover {
    background: #424040;
  }

  .tagSelect {
    width: 100%;
    height: 100%;
    padding: 13px;
  }


  .tagsList {
    position: absolute;
    bottom: 12px;
    left: 50px;
    margin-left: 8px;
  }

  .tag {
    @include tag;
    margin: 0 3px;


    &:hover {
      background: #d5cdcd;
    }
  }



  .tagsModal {
    position: fixed;
    top: 200px;
    background: #0b0800;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    left: 25%;
    box-shadow: 0 0 2px #938a8a;
    cursor: auto;

    .tagModalHead {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      span {
        font-size: 22px;
        margin-left: 5px;
      }

      .closeIcon {
        font-size: 25px;
        cursor: pointer;
      }
    }

    .tagModalList {
      margin-bottom: 20px;

      div {
        margin: 5px;
      }

      .selectedTag {
        @include tag;
        background: #373937;
        color: #d3c8c8;
      }
    }

    .searchTagsBtn {
      color: #0b0800;
      background: #e1dcdc;
      width: 160px;
      text-align: center;
      margin: 0 auto;
      padding: 6px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;


      &:hover {
        opacity: 0.8;
        transition: 0.1s;
      }
    }
  }
}

.filterBlock {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 30px;

  .deleteSearch {
    margin: 6px;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 6px;
    background: #fbfbfb;
    display: flex;
    gap: 10px;
    color: #0b0800;
    cursor: pointer;
    transition: 0.3s;

    .searchContent {
      text-decoration: underline;
    }

    .icon {
      font-size: 20px;

    }

    &:hover {
      color: #ff3535;
      transition: 0.3s;
    }
  }

  .orderingSection {
    display: flex;

    .sortButton {
      margin-left: 10px;
      @include filterButtonBase
    }
  }
}

.gameItem {
  height: 180px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  background: base.$cardBGColor;
  border-radius: 20px;

  img {
    height: 180px;
    width: 320px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .descBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    .gameName {
      font-weight: bold;
      font-size: 25px;
    }

    .gameGenre {
      display: flex;

      a {
        margin-right: 10px;
        font-size: 18px;

        &:hover {
          color: #d9d1d1;
        }
      }
    }

    .gamePlatforms {
      display: flex;

      span {
        margin-right: 10px;
        font-size: 16px;
        color: #9b9696;
        text-decoration: underline;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: base.$text-color;
          transition: .3s;
        }
      }
    }

    .gameRelease {
      margin: 0;
      font-size: 16px;
      color: #d9d1d1;
    }

    .gameRating {
      margin: 0;
      font-size: 16px;
    }
  }
}

