$btnColor: #252525;
$btnBorder: 2px solid #c1c1c1;
$inputBorder: 2px solid #7e7b7b;

@mixin modalBox {
  background: #1b1919;
  padding: 50px 70px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    font-size: 24px;
  }
}

.profileBox {
  border-bottom: white 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .dataString {
    margin-bottom: 20px;

    .desc {
      color: #bab3b3;
      margin-right: 5px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  .modalShadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .modalWarning {
    @include modalBox;
    border: 2px solid #f4760e;
  }

  .modalSuccess {
    @include modalBox;
    border: 2px solid #0d9e09;

  }
}

.successRes {
  span {
    font-size: 21px;
  }
  .successIcon {
    font-size: 40px;
    color: #0d9e09;
    position: relative;
    top: 10px;
    right: 7px;
  }
}

.profileInput {
  min-width: 370px;
  padding: 8px;
  font-size: 16px;
  transition: .3s;
  border: $inputBorder;
  border-radius: 4px;
  background: $btnColor;
  color: white;
  margin: 8px 0;

  &:focus {
    outline: none;
    background: #090909;
  }
}

.profileButton {
  padding: 10px;
  font-size: 18px;
  height: 44px;
  font-weight: bold;
  background-color: $btnColor;
  border-radius: 5px;
  border: $btnBorder;
  min-width: 150px;
  transition: .3s;
  color: white;
  cursor: pointer;
  margin: 8px 0;

  &:hover {
    background: #4c4c4c;
    transition: .3s;
  }
  &:disabled {
    background: #4c4c4c;
    cursor: default;
  }
}

.deleteInfo {
  font-size: 17px;

  .warningIcon {
    font-size: 23px;
    position: relative;
    top: 4px;
    color: #f48b2d;
  }
}

.errorBox {
  display: flex;
  align-items: center;

  .arrow {
    border: 7px solid transparent;
    border-right: 7px solid #ddb64b;
  }

  .errorMessage {
    text-transform: capitalize;
    background: #ddb64b;
    padding: 4px 10px;
    color: #000000;
    border-radius: 4px;
    font-size: 15px;
  }
}