@use 'src/base';

.filterBlock {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 30px;

  .orderingSection {
    display: flex;

    .sortButton {
      margin-left: 10px;
      padding: 13px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .deleteSearch {
    margin: 6px;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 6px;
    background: #fbfbfb;
    display: flex;
    gap: 10px;
    color: #0b0800;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #ff3535;
      transition: 0.3s;
    }

    .searchContent {
      text-decoration: underline;
    }

    .icon {
      font-size: 20px;

    }
  }
}