@use 'src/base';



.auth {
  height: 100%;
  padding: 20px 17%;
  display: flex;
  justify-content: space-between;

  .singUp {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      font-size: 50px;
      margin-bottom: 50px;
      padding-top: 10px;
    }

    .textField {
      width: 100%;
      margin-bottom: 20px;
      padding: 13px;
      font-size: 20px;
      border: 1px;
      background: #000;
      border-radius: 3px;
      color: #faf8f8;
      transition: .3s;

      &:focus {
        outline: none;
      }

      &:hover {
      background: #121111;
        transition: .3s;
    }
    }

    .passBlock {
      display: block;
      position: relative;
    }

    .showPass {
      position: absolute;
      right: -10px;
      top: 14px;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: 0.7;
        transition: .3s;
      }
    }

    .logInBtn {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      color: #0b0800;
      background: #ffffff;
      padding: 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        transition: .3s;
        background: #cfcccc;
      }
    }
  }


}