@use 'src/base';

@mixin textField {
  width: 100%;
  margin-bottom: 20px;
  padding: 13px;
  font-size: 20px;
  border: 1px;
  background: #000;
  border-radius: 3px;
  color: #faf8f8;
  transition: .3s;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #121111;
    transition: .3s;
  }
}

.auth {
  height: 100%;
  padding: 20px 17%;
  display: flex;
  justify-content: space-between;

  .authForm {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      font-size: 50px;
      margin-bottom: 50px;
      padding-top: 10px;
    }
    .FieldBox {
      position: relative;

      .textField {
        @include textField;
      }

      .error {
        position: absolute;
        bottom: 1px;
        z-index: 10;
      }
    }

    .logInBtn {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      color: #0b0800;
      background: #ffffff;
      padding: 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        transition: .3s;
        background: #cfcccc;
      }
    }
  }


}