.platformName {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  margin: 5px 0;


  span {
    transition: .3s;
    padding: 3px;
    border-radius: 3px;

    &:hover {
      background: #3a3434;
      transition: .3s;
    }
  }
}

.platformRequirements {
  margin-bottom: 20px;
  white-space: pre-wrap;

  a {
    font-size: 16px;
    text-decoration: underline;
    margin-right: 5px;
    transition: 0.2s;

    &:hover {
      color: #8a8080;
      transition: 0.2s;

    }

    &:not(&:last-child) {
      &:after {
        content: ',';
      }
    }

  }

  .requirements {
    &:not(&:first-child) {
      &:before {
        content: '- ';
      }
    }
  }

  h4 {
    font-weight: normal;
    font-size: 25px;
    margin: 20px 0;
  }

  span {
    font-size: 17px;
    color: #e5dcdc;
    white-space: pre-line
  }
}