@use 'src/base';

.content {
  width: 94%;
  padding: 20px 3%;
  margin-top: base.$headerHeight;
  min-height: 67vh;

  .loader {
    display: flex;
    justify-content: space-around;
  }
}

.footer {
  height: 15vh;
  background: #212121;
}

.visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: - base.$headerHeight;
  transition: top 0.4s ease-out;
}

header {
  height: base.$headerHeight;
  width: 100%;
  background: rgb(97, 81, 81);
  background: linear-gradient(180deg, rgba(97, 81, 81, 1) 4%, rgba(11, 8, 0, 1) 56%);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;

  div {
    align-self: center;
  }

  .logo {
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    display: grid;
    text-align: center;

    .logoAbr {
      font-size: 45px;
      font-weight: bold;
      color: white;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    height: 100%;


    .link {
      cursor: pointer;
      text-align: center;
      height: 100%;
      text-decoration: none;
      padding: 0 30px;
      transition: 0.3s;


      &:hover {
        transition: 0.3s;
        background-color: base.$BGColor;
      }

      p {
        font-size: 23px;
        font-weight: bold;
        color: base.$text-color;
      }
    }
  }

  .searchBarContainer {
    text-align: center;
    display: flex;
    height: 100%;
    width: 20%;

    img {
      height: 16px;
      position: relative;
      align-self: center;
      left: 29px;
    }
    input {
      outline: none;
      width: 100%;
      align-self: center;
      border-radius: 10px;
      padding: 10px 10px 10px 40px;
    }
  }

  .switchTheme {
    margin-left: 15px;
  }
  .avatarLink {
    cursor: pointer;
    border-radius: 50%;

    img {
      height: 50px;
      border-radius: 50%;
    }
  }
}