@use 'src/base';

.content {
  width: 94%;
  padding: 20px 3%;
  margin-top: base.$headerHeight;
  min-height: 67vh;
  background-repeat: no-repeat;

  .loader {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.footer {
  height: 15vh;
  background: #212121;
}

.visible {
  z-index: 5;
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: - base.$headerHeight;
  transition: top 0.4s ease-out;
}

header {
  height: base.$headerHeight;
  width: 100%;
  background: rgb(97, 81, 81);
  background: linear-gradient(180deg, rgba(97, 81, 81, 1) 4%, rgba(11, 8, 0, 1) 56%);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;

  div {
    align-self: center;
  }

  .logo {
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    display: grid;
    text-align: center;

    .logoAbr {
      font-size: 45px;
      font-weight: bold;
      color: white;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    height: 100%;


    .link {
      cursor: pointer;
      height: 100%;
      text-decoration: none;
      padding: 0 30px;
      transition: 0.3s;
      display: flex;
      align-items: center;

      &:hover {
        transition: 0.3s;
        background-color: base.$BGColor;
      }

      p {
        margin: 0;
        font-size: 23px;
        box-sizing: content-box;
        font-weight: bold;
        text-align: center;
        vertical-align: center;
        color: base.$text-color;
      }
    }
  }

  .searchBarContainer {
    position: relative;
    width: 18%;

    .searchInput {
      img {
        top: 14px;
        height: 16px;
        position: absolute;
        left: 19px;
      }

      input {
        outline: none;
        width: 100%;
        font-size: 17px;
        border-radius: 15px;
        padding: 12px 4% 12px 17%;
        border: none;
      }
    }

    .searchResult {
      border-radius: 15px;
      padding: 10px 4% 10px 4%;
      position: absolute;
      top: 50px;
      left: 0;
      width: 113%;
      color: #0b0800;
      background: white;
      text-align: left;

      .loaderWrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .searchLoader {
          font-size: 20px;
          width: fit-content;
          padding-bottom: 5px;
          font-weight: bold;
          font-family: monospace;
          overflow: hidden;
          color: #0000;
          text-shadow: 0 0 0 #000,10ch 0 0 #000;
          background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
          animation: l14 1.5s infinite;
        }

        .searchLoader:before {
          content: "Loading...";
        }

        @keyframes l14 {
          80%  {text-shadow:    0  0 0 #000,10ch 0 0 #000;background-size:100% 3px}
          100% {text-shadow: -10ch 0 0 #000,0    0 0 #000}
        }
      }
    }
  }

  .switchTheme {
    margin-left: 15px;
  }
  .avatarLink {
    cursor: pointer;
    border-radius: 50%;

    img {
      height: 50px;
      border-radius: 50%;
    }
  }
}