@use 'src/base';

@mixin paginationItem {
  padding: 8px 12px 5px 12px;
  border-radius: 5px;
  transition: .3s;
  font-size: 18px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;

  .disabled {
    @include paginationItem;
    background: #6a6a6a;
  }

  .paginationItem {
    @include paginationItem;
    background: base.$cardBGColor;
    cursor: pointer;

    &:hover {
      background: #575757;
      transition: .3s;
    }

    .backArrow {
      position: relative;
      left: 3px;
    }

  }

  .paginationItem[aria-selected=true] {
    background: #eaeaea;
    color: #0b0800;
    cursor: auto;
  }
}