@use 'src/base';

.pageWrapper {
  display: grid;
  grid-template-columns: 5fr 4fr;
  padding: 0 30px;
  gap: 60px;
  margin-top: 30px;

  p {
    margin: 0;
  }

  .baseInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .gameReleasedHead {
      text-transform: uppercase;
      border-radius: 5px;
      background: #fff;
      color: #0b0800;
      padding: 3px 6px;
      margin: 0;
      font-size: 14px;
    }

    .averagePlaytime {
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 5px;
      background: #fff;
      color: #0b0800;
      padding: 3px 6px;
    }
  }

  .gameName {
    font-size: 35px;
    padding: 15px 0;
  }

  .ratingsPercentsBlock {
    display: flex;
    margin-top: 20px;

    .ratingPercentsItem {
      height: 20px;
      border-radius: 3px;
    }
  }

  .ratingDetails {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 17px;
    margin-top: 15px;
  }

  .description {

    h4 {
      margin: 20px 0;
      font-size: 22px;
    }

    p {
      font-size: 17px;
    }
  }

  .commonInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    h5 {
      font-weight: normal;
      margin: 20px 0 10px 0;
      color: #8a8080;
      text-transform: capitalize;
    }

    a {
      font-size: 16px;
      text-decoration: underline;
      margin-right: 5px;
      transition: 0.2s;

      &:hover {
        color: #8a8080;
        transition: 0.2s;

      }
      &:not(&:last-child) {
        &:after {
          content: ',';
        }
      }

    }

    .metacriticScore {
      font-size: 18px;
      border: solid 2px #3db643;
      padding: 4px;
      color: #3db643;
      border-radius: 5px;
    }

    .releaseDate {
      font-size: 16px;
    }

    .esrbRating {
      font-size: 16px;
    }

    .fullWidthElenet {
      grid-column: 1/3;
    }
  }

}
