@use 'src/base';

.pageWrapper {
  display: grid;
  grid-template-columns: 5fr 4fr;
  padding: 0 30px;
  gap: 60px;
  margin-top: 30px;

  p {
    margin: 0;
  }

  h5 {
    font-weight: normal;
    margin: 20px 0 10px 0;
    color: #8a8080;
    text-transform: capitalize;
  }


  .baseInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .gameReleasedHead {
      text-transform: uppercase;
      border-radius: 5px;
      background: #fff;
      color: #0b0800;
      padding: 3px 6px;
      margin: 0;
      font-size: 14px;
    }

    .averagePlaytime {
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 5px;
      background: #fff;
      color: #0b0800;
      padding: 3px 6px;
    }
  }

  .gameName {
    font-size: 35px;
    padding: 15px 0;
  }

  .ratingsPercentsBlock {
    display: flex;
    margin-top: 20px;

    .ratingPercentsItem {
      height: 20px;
      border-radius: 3px;
    }
  }

  .ratingDetails {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 17px;
    margin-top: 15px;
  }

  .description {

    h4 {
      margin: 20px 0;
      font-size: 22px;
    }

    p {
      font-size: 17px;
    }
  }

  .commonInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    a {
      font-size: 16px;
      text-decoration: underline;
      margin-right: 5px;
      transition: 0.2s;

      &:hover {
        color: #8a8080;
        transition: 0.2s;

      }

      &:not(&:last-child) {
        &:after {
          content: ',';
        }
      }

    }

    .metacriticScore {
      font-size: 18px;
      border: solid 2px #3db643;
      padding: 4px;
      color: #3db643;
      border-radius: 5px;
    }

    .releaseDate {
      font-size: 16px;
    }

    .esrbRating {
      font-size: 16px;
    }


    .fullWidthElement {
      grid-column: 1/3;

    }
  }

  .link {
    font-size: 16px;
    text-decoration: underline;
    margin-right: 5px;
    transition: 0.2s;

    &:hover {
      color: #8a8080;
      transition: 0.2s;

    }

    &:not(&:last-child) {
      &:after {
        content: ',';
      }
    }
  }

  .rightSideBar {

    .platformName {
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      margin: 5px 0;


      span {
        transition: .3s;
        padding: 3px;
        border-radius: 3px;

        &:hover {
          background: #3a3434;
          transition: .3s;
        }
      }
    }

    .platformRequirements {
      margin-bottom: 20px;

      a {
        font-size: 16px;
        text-decoration: underline;
        margin-right: 5px;
        transition: 0.2s;

        &:hover {
          color: #8a8080;
          transition: 0.2s;

        }

        &:not(&:last-child) {
          &:after {
            content: ',';
          }
        }

      }

      .requirements {
        &:not(&:first-child) {
          &:before {
            content: '- ';
          }
        }
      }

      h4 {
        font-weight: normal;
        font-size: 25px;
        margin: 20px 0;
      }

      span {
        font-size: 17px;
        color: #e5dcdc;
        white-space: pre-line
      }
    }
  }

  .storeList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    text-align: center;

    h4 {
      grid-column: 1/4;
      text-align: left;
      margin-bottom: 0;
    }

    a {
      padding: 10px 0 15px 0;
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      font-size: 16px;
      transition: .3s;

      .storeIcon {
        position: relative;
        top: 5px;
        font-size: 24px;
        padding-left: 8px;
      }

      &:hover {
        transition: .3s;
        color: #0b0800;
        background: white;
      }
    }

  }
}
