.profileBox {
  border-bottom: white 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;

  .dataString {
    margin-bottom: 20px;

    .desc {
      color: #bab3b3;
      margin-right: 5px;
    }
  }
}

.profileButton {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #252525;
  border-radius: 5px;
  border: white 2px solid;
  min-width: 150px;
  transition: .3s;
  color: white;

  &:hover {
    background: #4c4c4c;
    transition: .3s;
  }
}